# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**
- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- List examples of evaluating arithmetic expressions

#### Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy

|Data Science Tools|
|-----|
|Jupyter Notebooks|
|Apache Hadoop|
|Rstudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#This a simple arithmetic expression to mutiply then add integers

In [16]:
(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60

In [18]:
200/60

3.3333333333333335

## Author

### Karol